.title {
    font-family: monospace;
    font-size: 25px;
    font-weight: 700;
    color: #000;
}

.zbir {
    font-family: monospace;
    font-size: 17px;
    font-weight: 700;
    color: #777;
}

.cijena {
    font-family: monospace;
    font-size: 17px;
    font-weight: 700;
    color: #000;
}

.popust-text {
    font-family: monospace;
    font-size: 17px;
    font-weight: 700;
    color: #777;
}

.popust-cijena {
    font-family: monospace;
    font-size: 17px;
    font-weight: 700;
    color: #06ae19;
}

.dostava {
    font-family: monospace;
    font-size: 17px;
    font-weight: 700;
    color: #777;
}

.ukupno {
    font-family: monospace;
    font-size: 20px;
    font-weight: 700;
    color: #777;
}

.ukupno-cijena {
    font-family: monospace;
    font-size: 17px;
    font-weight: 700;
    color: #000;
}

.blagajna {
    font-family: monospace;
    font-size: 17px;
    font-weight: 700;
    color: #FFF;
    background-color: rgb(33, 142, 226);
}

.kupovina {
    font-family: monospace;
    font-size: 17px;
    font-weight: 700;
    color: #FFF;
    background-color: rgb(2, 97, 141);
}

.mb-2 {
    font-family: monospace;
    font-size: 17px;
    font-weight: 600;
    color: #000;
}

 #form {
    font-family: monospace;
    font-size: 15px;
}

mat-label::before {
    font-family: monospace;
    font-size: 15px;
    color: #000;
}

mat-label::after {
    font-family: monospace;
    font-size: 15px;
    color: rgb(33, 142, 226);
}

.primjeni-kod {
    font-family: monospace;
    font-size: 17px;
    font-weight: 700;
    color: #FFF;
    background-color: rgb(33, 142, 226);
}