h2 {
    font-family: monospace;
    font-size: 20px;
    font-weight: 700;
    color: rgb(33, 142, 226);
}

p {
    font-family: monospace;
    font-size: 17px;
    font-weight: 400;
    color: #000;
}

.otkazi {
    font-family: monospace;
    background-color: rgb(241, 22, 22);
    color: #FFF;
}

.potvrdi {
    font-family: monospace;
    background-color: rgb(33, 142, 226);
    color: #FFF;
}