.custom-badge .mat-badge-content {
    width: 26px;
    height: 26px;
    font-size: 15px;
    line-height: 26px;
    font-family: monospace;
    color: #FFF;
    background-color: rgb(33, 142, 226);
    cursor: pointer;
}

.custom-badge .mat-icon {
    font-size: 36px;
    width: 36px;
    height: 36px;
}

a {
    &.active {
        color: rgb(33, 142, 226) !important;
        font-family: monospace;
    }
}

.pocetna {
    color: #000;
    font-family: monospace ;
    font-size: 25px;
    cursor: pointer;
}

.pocetna:hover
{
    color: rgb(33, 142, 226);
    font-family: monospace;
}

.prodavnica {
    color: #000;
    font-family: monospace;
    font-size: 25px;
    cursor: pointer;
}

.prodavnica:hover
{
    color: rgb(33, 142, 226);
    font-family: monospace;
}

.kontakt {
    color: #000;
    font-family: monospace;
    font-size: 25px;
    cursor: pointer;
}

.kontakt:hover
{
    color: rgb(33, 142, 226);
    font-family: monospace;
}

.login {
    color: rgb(33, 142, 226) !important;
    background-color: rgba(235, 235, 255, 0.351) !important;
    font-family: monospace !important;
    font-size: 17px !important;
    font-weight: 500 !important;
}

.login:hover {
    color: #FFFFFF !important;
    background-color: rgb(33, 142, 226) !important;
    font-family: monospace !important;
    font-size: 17px !important;
    font-weight: 800 !important;
}

.register {
    color: rgb(33, 142, 226) !important;
    background-color: rgba(235, 235, 255, 0.351) !important;
    font-family: monospace !important;
    font-size: 17px !important;
    font-weight: 500 !important;
}

.register:hover {
    color: #FFFFFF !important;
    background-color: rgb(33, 142, 226) !important;
    font-family: monospace !important;
    font-size: 17px !important;
    font-weight: 800 !important;
}

.logout {
    color: rgb(33, 142, 226) !important;
    background-color: rgba(235, 235, 255, 0.351) !important;
    border-color: 2px solid #000 !important;
    font-family: monospace !important;
    font-size: 17px !important;
    font-weight: 600 !important;
    width: 195px;
    margin-top: 5px;
    margin-left: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.logout:hover {
    color: #FFF !important;
    background-color: rgb(33, 142, 226) !important;
    font-family: monospace !important;
    font-size: 17px !important;
    font-weight: 800 !important;
}

.px-3 {
    color: rgb(33, 142, 226) !important;
}

.px-3 .mat-icon {
    color:rgb(33, 142, 226) !important;
}