<header class="border-b shadow-lg p-3 w-full max-h-36 fixed top-0 z-50 bg-white">
    <div class="flex align-middle items-center justify-between max-w-screen-2xl mx-auto">
        <img routerLink="/" src="/images/logo.png" alt="app logo"  width="115px;"/>
        <nav class="flex gap-3 my-2 uppercase text-xl">
            <a routerLink="/" 
                routerLinkActive="active"
                [routerLinkActiveOptions]="{exact: true}" 
                class="pocetna">
                    Početna
            </a>
            <a routerLink="prodavnica" 
                routerLinkActive="active" 
                class="prodavnica">
                    Prodavnica
            </a>
            <a class="kontakt">
                    Kontakt
            </a>
        </nav>
        <div class="flex gap-3 align-middle">
            <a routerLink="/korpa" routerLinkActive="active" matBadge="{{cartService.itemCount()}}" matBadgeSize="large" class="custom-badge mt-2 mr-2">
                <mat-icon class="add_shopping_cart_header">shopping_cart</mat-icon>
            </a>
            @if (accountService.currentUser()) {
                <button class="logout" mat-stroked-button [matMenuTriggerFor]="menu">
                    <mat-icon>arrow_drop_down</mat-icon>
                    <span>{{accountService.currentUser()?.firstName}}</span>
                </button>
            } @else {
                <button routerLink="/nalog/prijava" class="login" mat-raised-button>Prijava</button>
                <button routerLink="/nalog/registracija" class="register" mat-raised-button>Registracija</button>
            }
        </div>
    </div>
</header>

<mat-menu #menu="matMenu" class="px-5">
    <button mat-menu-item class="px-3" routerLink="/korpa">
        <mat-icon>shopping_cart</mat-icon>
        Moja korpa
    </button>
    <button mat-menu-item class="px-3" routerLink="/korpa">
        <mat-icon>history</mat-icon>
        Moje narudžbe
    </button>
    <mat-divider></mat-divider>
    <button mat-menu-item class="px-3" (click)="logout()">
        <mat-icon>logout</mat-icon>
        Odjava
    </button>
</mat-menu>
