h2 {
    font-family: monospace;
    font-size: 30px;
    font-weight: 800;
    color: rgb(33, 142, 226);
}

.naslovi {
    font-family: monospace;
    font-size: 20px;
    font-weight: 600;
    color: #777;
}

#redni-broj {
    font-family: monospace;
    font-size: 18px;
    font-weight: 600;
    color: rgb(33, 142, 226);
}

td {
    font-family: monospace;
    font-size: 18px;
    text-align: center;
    color: #000;
}