h3 {
    color: rgb(33, 142, 226);
    font-weight: 800;
    font-size: 40px;
    font-family: Dancing Script;
    margin-right: 0px;
}

.text-primary {
    color: rgb(33, 142, 226);
    font-weight: 600;
    font-size: 25px;
    font-family: monospace !important;
    margin-left: 100px;
}

.primjeni_filter {
    color: #FFFFFF !important;
    background-color: rgb(33, 142, 226) !important;
    font-family: monospace !important;
}