<div class="max-w-screen-2xl mx-auto px-4" id="izgled">
    <div class="flex flex-col items-center py-16 justify-center mt-20 rounded-2xl 
        shadow-xl relative">
        <img
            class="absolute inset-2 w-full h-full object-cover rounded-3xl" 
            id="slika"
            src="../images/baking.jpg" 
            alt="slika">
        <div class="flex flex-col p-8 rounded-2xl items-center relative">
            <h1 class="my-6">
                Dobrodošli u Moju kuhinju!
            </h1>
                <div class="center">
                    <div class="button"
                        routerLink="/prodavnica">
                        <span>Idi u prodavnicu</span>
                        <svg width="165px" height="60px" viewBox="0 0 170 60" class="border">
                            <polyline points="179,1 179,59 1,59 1,1 179,1" class="bg-line" />
                            <polyline points="179,1 179,59 1,59 1,1 179,1" class="hl-line" />
                        </svg>
                    <div>
                </div>
        </div>
    </div>
</div>
