h2 {
    font-family: monospace;
    font-size: 30px;
    font-weight: 800;
    color: rgb(33, 142, 226);
}

.narudzbe {
    font-family: monospace;
    font-size: 14px;
    font-weight: 600;
    color: #FFF;
    background-color: rgb(33, 142, 226);
}

.info {
    font-family: monospace;
    font-size: 18px;
    font-weight: 800;
    color: rgb(33, 142, 226);
}

.adresa-naslov {
    font-family: monospace;
    font-size: 15px;
    font-weight: 600;
}

.adresa {
    font-family: monospace;
    font-size: 15px;
    font-weight: 100;
    color: rgba(94, 94, 94, 0.7);
    margin-top: 5px;
}

.placanje-naslov {
    font-family: monospace;
    font-size: 15px;
    font-weight: 600;
}

.placanje {
    font-family: monospace;
    font-size: 15px;
    color: rgba(94, 94, 94, 0.7);
}

.narudzba {
    font-family: monospace;
    font-size: 18px;
    font-weight: 800;
    color: rgb(33, 142, 226);
}

.email-naslov {
    font-family: monospace;
    font-size: 15px;
    font-weight: 600;
}

.email {
    font-family: monospace;
    font-size: 15px;
    color: rgba(94, 94, 94, 0.7);
    margin-top: 5px;
}

.status-naslov {
    font-family: monospace;
    font-size: 15px;
    font-weight: 600;
}

.status {
    font-family: monospace;
    font-size: 15px;
    color: rgba(94, 94, 94, 0.7);
    margin-top: 5px;
}

.datum-naslov {
    font-family: monospace;
    font-size: 15px;
    font-weight: 600;
}

.datum {
    font-family: monospace;
    font-size: 15px;
    color: rgba(94, 94, 94, 0.7);
    margin-top: 5px;
}

.ime {
    font-family: monospace;
    font-size: 16px;
    font-weight: 600;
}

#kolicina {
    font-family: monospace;
    font-size: 16px;
    font-weight: 800;
    color: rgb(5, 134, 5);
}

#cijena {
    font-family: monospace;
    font-size: 16px;
    font-weight: 700;
}

.sazetak-narudzbe {
    font-family: monospace;
    font-size: 18px;
    font-weight: 800;
    color: rgb(33, 142, 226);
}

.meduzbir {
    font-family: monospace;
    font-size: 15px;
    font-weight: 600;
}

.popust-naslov {
    font-family: monospace;
    font-size: 15px;
    font-weight: 600;
}

.popust {
    font-family: monospace;
    font-size: 16px;
    font-weight: 600;
    color: rgb(12, 220, 54);
}

.troskovi-dostave {
    font-family: monospace;
    font-size: 15px;
    font-weight: 600;
}

.ukupno {
    font-family: monospace;
    font-size: 15px;
    font-weight: 600;
    color: rgb(0, 104, 21);
}

.cijena {
    font-family: monospace;
    font-size: 16px;
    font-weight: 700;
}

.cijena-ukupno {
    font-family: monospace;
    font-size: 16px;
    font-weight: 700;
    color: rgb(0, 104, 21);
}